@charset "UTF-8";

$font: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
$fontCategory: "Trebuchet MS", $font;

/* ベースCSS */
html {
    font-size: 62.5%;
}
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    padding: 30px;
    background-color: #f6f7fb;
    color: #333;
    font-size: 1.2rem;
    font-family: $font;
}
a:link, a:visited, a:hover, a:active {
    color: #7c5119;
    text-decoration: none;
}

// ヘッダー
.header {
    padding: 25px;
    border-bottom: none;
    text-align: center;
}
.logo {
    width: 136px;
    height: 136px;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    &:hover {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.nav {
    margin: 35px auto 10px;
    
    &-item {
        margin-top: 20px;    
        text-align: center;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 1.3rem;

        a {
            display: inline-block;

            &::after {
                content: '';
                display: block;
                width: 0;
                margin: 6px auto 0;
                border-bottom: 1px solid #7c5119;
                transition: width 0.3s ease-in-out;
            }
            &:hover::after {
                width: 100%;
            }
        }
    }
}

/* ボックス */
.item {
    overflow: hidden;
    width: 180px;
    margin-bottom: 4px;
    padding: 8px;
    border-bottom: 3px solid;
    border-radius: 5px;
    background-color: #fff;

    & > a {
        display: block;
        margin: -8px -8px -11px;
        padding: 8px 8px 11px;
        border-radius: inherit;
        color: #777;;
        transition: all 0.3s;

        &::before {
            content: '';
            position: absolute;
            display: block;
            top: 8px;
            left: 8px;
            right: 8px;
            height: 109px;
            background: rgba(0, 0, 0, 0.5);
            opacity: 0;
            transition: opacity 0.3s linear;
        }

        &::after {
            content: 'MORE';
            position: absolute;
            display: block;
            left: 150%;
            // .itemのpadding + 画像高さの半分 - この要素の高さの半分
            top: 8px + calc(109px / 2) - 19px;
            width: 100px;
            margin-left: -50px;
            padding: 8px 16px 8px;
            border: 3px solid #fff;
            text-align: center;
            font-family: $fontCategory;
            color: #fff;
            font-size: 1.6rem;
            font-weight: bold;
            letter-spacing: 1px;
            opacity: 0;
            transition: all 0.3s ease-in-out;
        }

        &:hover {
            // box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.3);
            opacity: 0.8;

            &::before {
                opacity: 1;
            }
            &::after {
                left: 50%;
                opacity: 1;
            }
        }
    }

    .image {
        display: block;
        width: 100%;
        height: 109px;
    }

    .category {
        margin: 15px 9px 10px;
        color: #aaa;
        letter-spacing: 1px;
        font-family: $fontCategory;

        &::before {
            content: '';
            display: inline-block;
            width: 19px;
            height: 19px;
            margin-right: 5px;
            border: 2px solid;
            border-radius: 50%;
            vertical-align: -5px;
        }        
    }
    .description {
        margin: 10px;
        line-height: 1.5;
    }

    // 中ボックス
    &-m {
        width: 364px;
        a {
            &::before {
                height: 146px;  
            }
            &::after {
                // .itemのpadding + 画像高さの半分 - この要素の高さの半分
                top: 8px + calc(146px / 2) - 19px;
            }
        }
        .image {
            height: 146px;
        }
    }

    // 大ボックス
    &-l {
        width: 732px;
        a {
            &::before {
                height: 403px;  
            }
            &::after {
                // .itemのpadding + 画像高さの半分 - この要素の高さの半分
                top: 8px + calc(403px / 2) - 19px;
            }
        }
        .image {
            height: 403px;
        }
    }
}
.item-maindish {
    &, & .category::before {
        border-color: #ffc0cb;
    } 
}
.item-appetizer {
    &, & .category::before {
        border-color: #76c047;
    } 
}
.item-column {
    &, & .category::before {
        border-color: #fff100;
    } 
}
.item-breaktime {
    &, & .category::before {
        border-color: #c1efff;
    } 
}
