.heading {
  position: relative;
  display: inline-block;
  margin: 30px 0 15px;
  padding-bottom: 15px;
  letter-spacing: 2px;
  font-size: 4.0rem;
}
.heading::before, .heading::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #999;
}
.heading::before {
  bottom: 5px;
}
.buttons .button {
  margin: 10px;
}
.button {
  display: inline-block;
  width: 200px;
  padding: 20px;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.2rem;
}
.button:hover {
  opacity: 0.9s
}
.buttonShowy {
  background-color: #f1b400;
}
.buttonGhost {
  border: 1px solid #fff;
  background-color: rba(255, 255, 255, 0.15);
}


/* ヘッダー */
.header {
  padding: 170px 30px 80px;
}
.siteTitleSub {
  margin: 0 0 30px;
  letter-spacing: 1px;
  font-size: 2.2rem;
}
.siteTitleSub::before, .siteTitleSub::after {
  content: '';
  display: inline-block;
  width: 140px;
  height: 2px;
  margin: 0 30px;
  background-color: #fff;
  vertical-align: middle;
}
.siteTitle {
  margin: 50px 0 40px;
  font-size: 7.6rem;
}
.siteDescription {
  margin-bottom: 50px;
  color: #888;
  font-size: 1.6rem;
}

/* About me */
.about {
  padding: 80px 30px;
  background-color: #fff;
  color: #333;
}
.aboutText {
  margin: 30px 0;
  line-height: 2.5;
}


/* Works */
.works {
  padding: 80px 0;
  background-color: #383634;
}
.worksWrapper {
  display: table;
  width: 100%;
  margin-top: 60px;
  table-layout: fixed;
}
.workBox {
  position: relative;
  display: table-cell;
}
.workBox::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  background: no-repeat;
  background-size: 100% 100%;
  opacity: 0.2;
  transform: scaleY(-1);
}
.workBox.tree::after {
  background-image: url('../public/images/tree.jpg');
}
.workBox.building::after {
  background-image: url('../public/images/building.jpg');
}
.workBox.lake::after {
  background-image: url('../public/images/lake.jpg');
}
.workBox.sky::after {
  background-image: url('../public/images/sky.jpg');
}
.workImageWrapper {
  display: block;
  width: 100%;
  margin: 0 0 60%;
}
.workDescription {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 50%;
  overflow-y: auto;
}
.workDescriptionInner {
  display: table;
  width: 100%;
  height: 100%;
  padding: 20px;
}
.workText {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.2rem;
  line-height: 2;
}
.workText .button {
  width: 60%;
  margin-top: 20px;
  padding: 3px;
}
/* TODO 上下を入れ替える */
/* .workBox:nth-child(odd) .workImageWrapper {
  margin: 60% 0 0;
}
.workBox:nth-child(odd) .workDescription,
.workBox:nth-child(odd)::after {
  top: 0;
} */
